@font-face {
    font-family: Lato;
    src: local("Lato"),
        url(".../fonts/Lato-Black.woff2") format("woff2"),
        url(".../fonts/Lato-Black.woff") format("woff"),
        url(".../fonts/Lato-Black.eot") format("eot");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Lato;
    src: local("Lato"),
        url(".../fonts/Lato-Bold.woff2") format("woff2"),
        url(".../fonts/Lato-Bold.woff") format("woff"),
        url(".../fonts/Lato-Bold.eot") format("eot");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Lato;
    src: local("Lato"),
        url(".../fonts/Lato-Regular.woff2") format("woff2"),
        url(".../fonts/Lato-Regular.woff") format("woff"),
        url(".../fonts/Lato-Regular.eot") format("eot");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: TtRuns;
    src: local("TtRuns"),
        url(".../fonts/TT-Runs-Trial-Bold.woff2") format("woff2"),
        url(".../fonts/TT-Runs-Trial-Bold_1.woff") format("woff"),

        url(".../fonts/TT-Runs-Trial-Bold.eot") format("eot");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: local("Roboto"),
        url(".../fonts/roboto_regular.woff2") format("woff2"),
        url(".../fonts/roboto_regular.woff") format("woff"),

        url(".../fonts/roboto_regular.eot") format("eot");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: local("Roboto"),
        url(".../fonts/roboto_regular.woff2") format("woff2"),
        url(".../fonts/roboto_regular.woff") format("woff"),

        url(".../fonts/roboto_regular.eot") format("eot");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: Roboto;
    src: local("Roboto"),
        url(".../fonts/roboto_bold.woff2") format("woff2"),
        url(".../fonts/roboto_bold.woff") format("woff"),

        url(".../fonts/roboto_bold.eot") format("eot");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}